.sidebar-container {
    
}

ul {
    height: inherit;
    width: inherit;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 0 0;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "col1 col2";
}

li {
    height: fit-content;
    width: fit-content;
    list-style: none;
}

