<div id="container">
  <div id="content" cdkDropListGroup>
    <div id="content-sidebar">
      <app-sidebar-container></app-sidebar-container>
    </div>

    <div id="content-content">
      <app-dropzone-container></app-dropzone-container>
    </div>  
  </div>
  <div id="charts">
    <app-chartjs-bar [labels]="areaChartLabels" [datasets]="areaChartDatasets" cdkDrag></app-chartjs-bar>
    <app-chartjs-pie [labels]="regionChartLabels" [datasets]="regionChartDatasets" cdkDrag></app-chartjs-pie>
    <app-chartjs-grid></app-chartjs-grid>
  </div>
</div>