<div class="client-dashboard">
    <app-nowaccount-shell>
        <div class="nav-tiles">
            <app-nav-tile [headerText]="'Add Invoice'" [routerHref]="" [iconType]=""></app-nav-tile>
            <app-nav-tile [headerText]="'Add Capacity'" [routerHref]="" [iconType]=""></app-nav-tile>
            <app-nav-tile [headerText]="'Add Customer Credit'" [routerHref]="" [iconType]=""></app-nav-tile>
            <app-nav-tile [tileStyle]="'corner'" [headerText]="'Your Account Manager'" [routerHref]="" [iconType]="">
                <span>Henry Faulkner</span> <br/>
                <span>henry.faulkner@nowcorp.com</span> <br/>
                <span>(404) 444-4444</span> <br/>
            </app-nav-tile>
        </div>

        <app-client-dashboard-drag-drop-grid [items]="items"></app-client-dashboard-drag-drop-grid>
    </app-nowaccount-shell>
</div>