<div class="client-dashboard">
    <app-nowaccount-shell>
        <div class="nav-tiles">
            <app-nav-tile 
                [headerText]="'Add Invoice'" 
                [routerHref]="" 
            >W</app-nav-tile>
            <app-nav-tile 
                [headerText]="'Add Customer'" 
                [routerHref]="" 
            ></app-nav-tile>
            <app-nav-tile 
                [headerText]="'Add Credit Request'" 
                [routerHref]="" 
            ></app-nav-tile>
            <app-nav-tile 
                [headerText]="'Add Capacity'" 
                [routerHref]="" 
                [alert]="{alerted: true, messages: ['Your client capacity utilization is above 80%. Please submit a request to increase your capacity.']}"
            ></app-nav-tile>
            <!-- <app-account-info></app-account-info> -->
        </div>

        <app-client-dashboard-drag-drop-grid [items]="items" [defaultItems]="defaultItems"></app-client-dashboard-drag-drop-grid>
    </app-nowaccount-shell>
</div>