.nav-tiles {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0 20px 0;

    > * {
        width: 100%;
        margin: 0 10px;
    }
}

.dialog-container {
    width: 80vw;
    height: 85vh;

    .dialog-content {
        height: 80%;
        padding: 50px;
    }
}