<div class="remittance">
    <h3>Remittance Address</h3>
    <p>
        <strong>Payments should still be addressed to your company name,</strong>
        but remittance instructions will need to go directly to our lockbox.
    </p>
    <p>
        <strong>Check payments via mail:</strong><br/>
        COMPANY NAME<br/>
        P.O. Box 117546<br/>
        Atlanta, GA 30368-7546
    </p>
    <p>
        <strong>Payment sent via ACH/Wire:</strong><br/>
        Bank Name: Truist<br/>
        ABA Routing: 061000104<br/>
        Account #: 1000176976776<br/>
        Swift Code: SNTRUS3A
    </p>
    <p>
        Please reach out to your Account Manager with any questions.
    </p>
</div>