@import "./assets/styles/utility/utility";
@import "./assets/styles/component-globals/nav-tile";

.cdk-drag-placeholder {
    opacity: 0.2;
    height: fit-content;
    width: fit-content;
    border: 5px dashed gray;
    margin: 0 10px;
}

.cdk-drag-animating {
    transition: transform 300ms ease;
}

.cdk-drop-list-dragging .cdk-drag {
    transition: transform 300ms ease;
}

.base-html {
    background-color: $soft-white;
    overflow-x: hidden;
}