<div class="client-dashboard-drag-drop-grid">
    <app-dashboard-grid-config-sideswipe
        (toggleDraggabilityEvent)="toggleDraggability()"
        (shuffleEvent)="shuffle()"
    ></app-dashboard-grid-config-sideswipe>
    <div style="display: none;">
        <h1>Drag&Drop with a flex-wrap</h1>
        <ul class="order-list"><li *ngFor="let item of items">{{ item.id }}</li></ul>
    </div>

    <div class="group-container" cdkDropListGroup>
        <div cdkDropList (cdkDropListEntered)="enter" (cdkDropListDropped)="drop($event)" #placeholder id="placeholder"></div>
        <ng-container *ngFor="let item of items; let i = index">
            <div 
                cdkDropList 
                *ngIf="item.selected"
                (cdkDropListEntered)="enter($event)" 
                (cdkDropListDropped)="drop($event)"
                [cdkDropListData]="{item:item,index:i}"
            >
                <div cdkDrag class="wrapper-box {{item.expanded ? 'expanded' : ''}}">
                    <h5 class="graph-title">{{item.title}}</h5>
                    <div class="graph-container">
                        <app-flagged-invoice-count-graph class="graph"
                            [item]="item"
                            *ngIf="item.type === graphTypesEnum.FLAGGED_INVOICE_COUNT"></app-flagged-invoice-count-graph>
                        <app-nowaccount-difference-graph class="graph"
                            [item]="item"
                            *ngIf="item.type === graphTypesEnum.NOWACCOUNT_DIFFERENCE"></app-nowaccount-difference-graph>
                        <app-credit-request-utilization class="graph"
                            [item]="item"
                            *ngIf="item.type === graphTypesEnum.CREDIT_REQUEST_UTILIZATION"></app-credit-request-utilization>
                        <app-client-capacity-utilization-graph class="graph"
                            [item]="item"
                            *ngIf="item.type === graphTypesEnum.CLIENT_CAPACITY_UTILIZATION"></app-client-capacity-utilization-graph>
                        <app-customer-portfolio-portions-graph class="graph"
                            [item]="item"
                            *ngIf="item.type === graphTypesEnum.CUSTOMER_PORTFOLIO_PORTIONS"></app-customer-portfolio-portions-graph>
                    </div>
                    <div class="handle-icon" cdkDragHandle [style]="isDraggable ? 'display: block;' : 'display: none;'">
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                    <div class="expand-icon" (click)="handleExpandSelection(item)">
                        <svg width="24px" fill="currentColor" viewBox="0 0 32 32">
                            <path d="M16 4 L28 4 L28 16 L24 12 L20 16 L16 12 L20 8z M4 16 L8 20 L12 16 L16 20 L12 24 L16 28 L4 28z "/>
                        </svg>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div> 