@import "../../../../assets/styles/utility/utility";

.order-list {
  list-style-type: none;
  padding: 0;
}
  
.order-list li {
  display: table-cell;
  padding: 4px;
}

.group-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw;
  --box-width: 450px;
  --box-height: 450px;
}

.wrapper-box {
  width: 24vw;
  height: 350px;
  padding: 30px;
  border: 10px solid $now-green-secondary;
  font-size: 30pt;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  position: relative;
  z-index: 1;
  border-radius: 15px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  display: flex;
  flex-direction: column;

  @include white-to-orange-thin-linear-gradient;

  &.expanded {
    width: 40vw;
  }

  h5 {
    margin: 0 0 20px 0;
    padding: 0;
    align-self: center;
    text-align: center;
    text-wrap: balance;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 20vw;
  }
}

.wrapper-box:active {
  border-radius: 15px;
  background-color: $now-green-secondary;
  opacity: .6;
}

.cdk-drop-list {
  display: flex;
  padding-right: 10px;
  padding-bottom: 10px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  background-color: $now-green-secondary;
  border-radius: 15px;
}

.cdk-drag-placeholder {
  opacity: .3;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.expand-icon {
  position: absolute;
  top: 5px;
  left: 10px;
  color: $now-orange;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.swap-content-icon {
  position: absolute;
  top: 5px;
  left: 40px;
  color: $now-orange;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.handle-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  color: $now-orange;
  cursor: move;
  width: 24px;
  height: 24px;
}

.controls {
  display: flex;

  > * {
    margin-right: 4px;
  }
}

#placeholder {
  padding: 0;
  margin: 0;
}

.cdk-drop-list-dragging {
  cursor: grabbing !important;
  > .cdk-drag {
    outline: auto;
    outline-color: $now-green-primary;
  }
}

.cdk-drag-preview {
  outline: auto !important;
  outline-color: $now-green-primary !important;
}

.cdk-drop-list-receiving {
  padding-left: 0;
}

.cdk-drag-placeholder {
  margin-left: 0;
}

.cdk-drop-list {
  display: flex;
}

.graph-title, .alt-title {
  font-size: 24px;
  color: $now-green-primary;
  font-family: sans-serif;
}

.graph-container {
  height: 100%;

  .graph-content {
    height: 80%;
    .graph {
      display: block;
      height: 100%;
    }
  }

  &.show {
    .graph-title {
      display: block;
    }
    .alt-title {
      display: none;
    }
  }

  &.hide {
    .graph-title {
      display: none;
    }
    .alt-title {
      display: block;
    }

    .graph-content {
      opacity: 0;
      filter: blur(5px);
      transition: all 1.5s;
    }
  }
}

.translate-blur-wrapper {
  position: absolute;
  left: 0;
  top: 0;

  & {
    overflow: hidden;
  }

  .translate-blur {
    @include hide-show-blur-translate(5px, 0, 0, 0, 50px);
  }
}