<div>
    <h1>Drag&Drop with a flex-wrap</h1>

    <div class="controls">
        <button (click)="shuffle()">Shuffle</button>
        <app-drag-drop-grid-checkbox-dropdown [items]="items" (outputParameter)="handleDropdownSelection($event)"></app-drag-drop-grid-checkbox-dropdown>
        <button (click)="toggleDraggability()">Toggle draggability is: {{isDraggable}}</button>
        <br/>
    </div>

    <ul class="order-list"><li *ngFor="let item of items">{{ item.id }}</li></ul>

    <div class="group-container" cdkDropListGroup>
        <div cdkDropList (cdkDropListEntered)="enter" (cdkDropListDropped)="drop($event)" #placeholder></div>
        <ng-container *ngFor="let item of items; let i = index">
            <div 
                cdkDropList 
                *ngIf="item.selected"
                (cdkDropListEntered)="enter($event)" 
                (cdkDropListDropped)="drop($event)"
                [cdkDropListData]="{item:item,index:i}"
            >
                <div cdkDrag class="wrapper-box {{item.expanded ? 'expanded' : ''}}">
                    <h5>{{item.title}}</h5>
                    <ng-container class="graph-container">
                        <app-flagged-invoice-count-graph *ngIf="item.type === 'flagged-invoice-chart'"></app-flagged-invoice-count-graph>
                        <app-nowaccount-difference-graph *ngIf="item.type === 'nowaccount-difference'"></app-nowaccount-difference-graph>
                    </ng-container>
                    <div class="handle-icon" cdkDragHandle [style]="isDraggable ? 'display: block;' : 'display: none;'">
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                    <div class="expand-icon" (click)="handleExpandSelection(item)">
                        <svg width="24px" fill="currentColor" viewBox="0 0 32 32">
                            <path d="M16 4 L28 4 L28 16 L24 12 L20 16 L16 12 L20 8z M4 16 L8 20 L12 16 L16 20 L12 24 L16 28 L4 28z "/>
                        </svg>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div> 